.App {
  text-align: center;
}

.AppBar {
  background-color: black;
}

html,body {
	margin:0;
	padding:0;
	height:100%; /* needed for container min-height */
}

.Profile {
  position: relative; /* needed for footer positioning*/
  margin-top: 1%;
  margin-bottom: 1%;
  height: 100%;
  height: auto !important; /* real browsers */
  min-height: 100%; /* real browsers */
}

.Feed {
  position: relative; /* needed for footer positioning*/
  margin-top: 1%;
  margin-bottom: 1%;
  height: 98%;
  height: auto !important; /* real browsers */
  min-height: 100%; /* real browsers */
}

.AddComment {
  margin-bottom: 2%;
}

.Reply {
  margin: 2%;
  margin-left: 5%;
}

.commentTextField fieldset {
  border-radius: 25px;
}

@media (prefers-reduced-motion: no-preference) {
  .App-logo {
    animation: App-logo-spin infinite 20s linear;
  }
}

.App-header {
  background-color: #282c34;
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  font-size: calc(10px + 2vmin);
  color: white;
}

.App-link {
  color: #61dafb;
}

@keyframes App-logo-spin {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(360deg);
  }
}
