.App {
  text-align: center;
}

.AppBar {
  background-color: black;
}

.AppBarContainer {
  display: flex;
}

html,body {
	margin:0;
	padding:0;
	height:100%; /* needed for container min-height */
}

.commentTextField fieldset {
  border-radius: 25px;
}

.loginError {
  color: #FF7377;
}