.feedComponent {
  display: flex;
}

.feed {
  flex: 1 1 auto;
  margin: 1% 10%;
}

.feedSideComponent {
  flex: 0 0 25%;
  margin: 1%;
}

.postImages {
  width: 100%;
}

.postsCard {
  margin-bottom: 2%;
}

.missingProfileMessageDiv {
  margin: 2%;
}

.searchProfile {
  margin: 10px;
}

.searchBar {
  width: 100%;
  padding-left: 100px;
}

@media (max-width: 800px) {
  .feedComponent {
    flex-direction: column;
  }

  .feed {
    flex: 1 1 auto;
    margin: 0%;
  }

  .profileComponent {
    flex-direction: column;
  }

  .postsCard {
    flex: 1;
    padding: 0%;
    margin-right: 0px;
    margin-left: 0px;
    margin-bottom: 20px;
  }
}